[Unit]
Description=asp
Documentation=http://api.30usd.com/en/docs/
After=network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/opt/jdk1.8.0_121/bin/java \
 -XX:+UseG1GC -Xms20M -Xmx100M \
 -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager \
 -Dlog=/var/log/30usd/asp/asp.log \
 -Dvertx.cacheDirBase=/opt/30usd/asp/ \
 -Dvertx.cwd=/opt/30usd/asp/ \
 -cp /opt/30usd/asp/classes:/opt/30usd/asp/libs/* \
 com.app.asp.ASPMain

WorkingDirectory=/opt/30usd/asp

User=asp
Group=asp
LimitNOFILE=30000

[Install]
WantedBy=multi-user.target
